Repository Eyes22798/icon-master: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
	"*.{js,jsx,vue,ts,tsx}": ["eslint --fix", "prettier --write"],
	"*.{cjs,json}": ["prettier --write"],
	"*.{html}": ["eslint --fix", "prettier --write", "stylelint --fix"],
	"*.{scss,css}": ["stylelint --fix", "prettier --write"],
	"*.md": ["prettier --write"]
}

chore: refactor commitlint config
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update commilint config
  commitlint.config.cjs
  package.json
Due: prettier --write

chore: :hammer: add cz-git
  .husky/commit-msg
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: :recycle: test changest
  packages/icon-sync-vscode-plugin/index.ts
Due: eslint --fix, prettier --write

chore: :hammer: update pkgs name
  apps/icon-sync-server/package.json
  packages/icon-sync-viewer/package.json
  packages/icon-sync-vscode-plugin/package.json
  packages/svg-icon/package.json
Due: prettier --write

revert: :rewind: test changesets
  .changeset/dirty-donkeys-switch.md
  apps/api/.gitkeep
  package.json
Due: prettier --write

chore: :hammer: move server apps floder
  apps/icon-sync-server/app.vue
  apps/icon-sync-server/server/tsconfig.json
  apps/icon-sync-server/tsconfig.json
  packages/icon-sync-server/.gitignore
  packages/icon-sync-server/.npmrc
  packages/icon-sync-server/README.md
  packages/icon-sync-server/app.vue
  packages/icon-sync-server/nuxt.config.ts
  packages/icon-sync-server/package.json
  packages/icon-sync-server/public/favicon.ico
  packages/icon-sync-server/server/tsconfig.json
  packages/icon-sync-server/tsconfig.json
Due: eslint --fix, prettier --write

chore: :hammer: pkgs private
  package.json
  packages/icon-sync-server/package.json
  packages/icon-sync-viewer/package.json
  packages/icon-sync-vscode-plugin/jest.config.js
  packages/icon-sync-vscode-plugin/package.json
Due: eslint --fix, prettier --write

chore: :hammer: gitignore and vscode config
  .gitignore
  .vscode/setting.json
  packages/icon-sync-vscode-plugin/dist/index.js
Due: eslint --fix, prettier --write

fix: :bug: ignore dist and output floder
  .gitignore
Due: none

chore: :hammer: reinit changsets
  .changeset/dirty-donkeys-switch.md
Due: prettier --write

chore: :hammer: update lock
  pnpm-lock.yaml
Due: none

chore: :hammer: test icon-sync-server
  packages/icon-sync-server/app.vue
Due: eslint --fix, prettier --write

chore: :hammer: remove server apps floder
  apps/icon-sync-server/.gitignore
  apps/icon-sync-server/.npmrc
  apps/icon-sync-server/README.md
  apps/icon-sync-server/app.vue
  apps/icon-sync-server/nuxt.config.ts
  apps/icon-sync-server/package.json
  apps/icon-sync-server/public/favicon.ico
  apps/icon-sync-server/server/tsconfig.json
  apps/icon-sync-server/tsconfig.json
Due: eslint --fix, prettier --write

chore: :hammer: test publish
  .changeset/pre.json
  .changeset/tough-drinks-taste.md
  apps/icon-sync-server/CHANGELOG.md
  apps/icon-sync-server/package.json
  packages/icon-sync-viewer/CHANGELOG.md
  packages/icon-sync-viewer/package.json
  packages/icon-sync-vscode-plugin/CHANGELOG.md
  packages/icon-sync-vscode-plugin/package.json
  packages/svg-icon/CHANGELOG.md
  packages/svg-icon/package.json
Due: prettier --write

chore: :hammer: refactor changeset config && add changeset scripts
  .changeset/config.json
  package.json
Due: prettier --write

chore: :hammer: update changeset pkg scripts
  package.json
Due: prettier --write

chore: :hammer: add turbo config
  .gitignore
  turbo.json
Due: prettier --write
